################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PublishLendingScripts
/SandBoxEnviormentsSandboxInfo.xlsx
/.vs
/packages
/SandBoxEnviorments.v12.suo
