<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="isProduction" value="0"/>
    <add key="DevFileLocation" value="C:\Code\TKO\"/>
    <add key="ExcelFileManagerDirectoryName" value="O:\TKO"/>
    <add key="ExcelFileManagerFileName" value="O:\TKO\SandboxInfo.xlsx"/>
    <add key="SerializeFileManagerFileName" value="C:\Code\SandboxInfo.dat"/>
    <add key="SerializeFileManagerDirectoryName" value="C:\Code"/>
  </appSettings>
</configuration>
