<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bytescout.Spreadsheet" version="3.0.0.1700" targetFramework="net462" />
  <package id="EPPlus" version="4.5.1" targetFramework="net462" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net462" />
  <package id="Unity" version="5.8.6" targetFramework="net462" />
</packages>